<p id="notice"><%= notice %></p>

<% if is_me? @user.id %>
  <h1>THIS IS ME</h1>
<% end %>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>


<% if is_me? @user.id %>
<%= link_to 'Edit', edit_user_path(@user) %> 
<% end %>
